/* 
https://piccalil.li/blog/styling-tables-the-modern-css-way/
*/

body {
  box-sizing: border-box;
}

table {
  text-indent: 0;
  line-height: 1.5;
  text-align: left;
  border-spacing: 0;
  table-layout: fixed;
}

table, thead, tbody {
  display: block;
  width: 100%;
}

tbody {
  position: relative;
}

tr {
	border-bottom: 1px solid;
}

th,
td {
  border: 1px solid lightgrey;
	padding: 0.25rem 0.75rem;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

th,
caption {
	text-align: start;
}

tr td:first-of-type, tr th:first-of-type {
  text-align: start;
}

thead th:not(:first-child),
td {
	text-align: end;
}

thead {
  border-block-end: 2px solid;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th {
  background: whitesmoke;
  position: relative;
}

.column-resize-handle {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.column-resize-handle.is-resizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .column-resize-handle {
    opacity: 0;
  }

  *:hover > .column-resize-handle {
    opacity: 1;
  }
}